/* font-family: 'Inter', sans-serif;
font-family: 'Jost', sans-serif; */

@keyframes entrada-divertida {
    0% {
      opacity: 0;
      transform: translateY(25px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .entrada-divertida {
    opacity: 0; /* Inicialmente oculto */
    animation: entrada-divertida .5s ease-in-out forwards;
  }

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: white;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #181818;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #ffcc00;
  }

body {
    font-family: 'Jost', sans-serif;
    background-color: white;
}

.conT4 .cta {
    width: 90%;
}

.container {
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    display: flex;
    /* padding-top: 10px; */
    flex-direction: row;
    width: 100%;
    /* margin: 0 40px; */
}
.logoheader {
    font-size: 20px;
    margin-left: 2%;
    cursor: pointer;
    color: #464646;
    transition: .5s ease;
}

.logoheader span {
    color: #ffcc00;
    transition: .5s ease;
}

.logoheader:hover span {
    color: #464646;
}

.logoheader:hover {
    color: #ffcc00;
}

.conT {
    min-width: 20%;
    width: auto;
    margin-right: 2%;
    transition: all .5s ease-out;
    /* margin-right: 20px; */
}

.conT ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
}

.conT ul li {
    color: #464646;
    text-decoration: none;
    text-transform: capitalize;
    margin: 0 10px;
}

.conT ul li:hover {
    color: #ffcc00;
    cursor: pointer;
    animation: .5s ease-out;
    font-weight: 400;
}

.conT ul li:after {
    color: #ffcc00;
}

.cardC {
    height: 45vh;
    /* background-color: #f3f3f3; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.card {
    height: 40vh;
    width: 95%;
    /* background-color: #181818; */
    /* background-image: url("bg1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
    border: 2px solid #181818;
    border-radius: 25px;
    display: flex;
    justify-content: space-around;
}

.cardH {
    height: inherit;
    width: 65%;
    /* background-color: #464646; */
    border-radius: inherit;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
    /* padding: 20px; */
}

.cardT {
    height:auto;
    width: 90%;
    text-align: start;
    color: #464646;
    font-size: 25px;
    overflow: hidden;
}

.cardP {
    height:30%;
    width: 100%;
    text-align: start;
    color: #464646;
    font-size: 18px;
    overflow: hidden;
}

.cta {
    font-family: 'Jost', sans-serif;
    width: 40%;
    height: auto;
    margin-top: 0;
    font-size: 15px;
    padding: 10px;
    background-color: transparent;
    border-radius: 25px;
    border: 2px solid #464646;
    cursor: pointer;
}

.cta:hover {
    border: 2px solid #181818;
    background-color: #ffcc00;
    color: #181818;
    transition: all .5s ease-in-out;
}

.imgC {
    width: auto;
    height: 100%;
}

.img1 {
    width: auto;
    height: 100%;
}

.smallC {
    width: 100%;
    height: 45vh;
    display: flex;
    justify-content: center;
    transition: all .5s ease-out;
}

.cardCont {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 45vh;
}

.card2 {
    height: 90%;
    width: 50%;
    border: 2px solid #464646;
    border-radius: 25px;
}

.card3 {
    height: 90%;
    width: 23%;
    border: 2px solid #464646;
    border-radius: 25px;
    justify-content: center;
    display: flex;
    align-items: center;
    position: relative;
}

.card4 {
    height: 90%;
    width: 23%;
    border: 2px solid #464646;
    border-radius: 25px;
}

.titC1 {
    height: 100%;
    width: 95%;
    font-size: 100px;
    display: flex;
    flex-direction: column;
    margin-left: 6%;
    margin-right: 6%;
    justify-content: center;
    align-items: flex-start;
    color: #464646;
}

/* .titC1 span {
    color: #ffcc00;
} */

.textC2 {
    width: 95%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card3p {
    height: 100%;
    width: 95%;
    word-wrap: break-word;
    overflow: hidden;
    filter: opacity(.2);
    pointer-events: none;
    user-select: none;
}

.card3 .cta {
    position: absolute;
    width: 60%;
    z-index: 9999;
    background-color: white;
}

.card3 .cta:hover {
    background-color: #ffcc00;
    color: #181818;
}

.cont4 {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.notime {
    width: 48%;
    height: 100%;
    display: flex;
    border: 2px solid #181818;
    border-radius: 25px;
}

.conT4 {
    width: 50%;
    height: 100%;
    display: flex;
    border: 2px solid #181818;
    border-radius: 25px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.bg3I {
    height: auto;
    width: 100%; 
}

.contenido4 {
    width: 95%;
    display: flex;
    height: 95vh;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.textC4 {
    width: 90%;
    height: 40%;
    font-size: 80px;
    color: #464646;
}

.parC4 {
    width: 90%;
    height: auto;
    margin-bottom: 50px;
    color: #464646;
}

.formC {
    width: 100%;
    height: 10vh;
    margin-bottom: 20px;
}

.formulario {
    width: 95%;
    height: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #181818;
    border-radius: 15px;
  }

.forma {
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}  

  .txtF {
    display: flex;
    flex-direction: column;
    width: 10%;
    height: 100%;
    font-size: 20px;
  }

  .iconH {
    fill: white;
  }

  .insta .iconH:hover {
    stroke: #ffcc00;
  }
  .inputF {
    width: 50%;
    height: auto;
    padding: 10px;
    font-size: 16px;
    border-radius: 25px;
    transition: all .3s ease-out;
    font-family: "Jost", "sans-serif";
    color: #878787;
  }

  .formulario .cta {
    width: 25%;
  }

  .evo {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  .evoT {
    white-space: nowrap;
    font-size: 18px;
    font-weight: bold;
    width: max-content;
    position: relative;
    font-weight: 400;
  }

  .am {
    color: #ffcc00;
  }

@media (max-width: 768px) {

    .container {
        justify-content: space-around;
        background-color: white;
        z-index: 999999;
    }

    .logoheader {
        font-size: 25px;
        font-weight: 500;
    }

    .conT ul {
        justify-content: end;
        margin-right: 4%;
    }

    .conT ul li {
    display: none;
    font-size: 18px;
    }

    .display {
        display: block !important;
        font-size: 20px;
    }

    .container {
        position: fixed;
        top: 0;
    }

    .cardC {
        margin-top: 10vh;
        height: 90vh;
    }

    .card {
        height: 95%;
        flex-direction: column;
        align-items: center;
    }

    .cardH {
        width: 90%;
        max-height: 45%;
    }

    .cardT {
        height: 20%;
        font-size: 15px;
    }

    .cardP {
        font-size: 10px;
    }

    .cta  {
        width: 100%;
        color: #181818;
    }

    .imgC {
        width: 100%;
        height: 60%;
        align-items: center;
        display: flex;
        justify-content: center;
    }
    
    .img1 {
        width: 100%;
        height: auto;
    }

    .smallC {
        flex-direction: column;
        height: 90vh;
        align-items: center;
    }

    .cardCont {
        flex-direction: column;
        height: 90vh;
        justify-content: space-around;
    }

    .card2 {
        height: 23%;
        width: 100%;
        border: 2px solid #464646;
        border-radius: 25px;
        display: flex;
        justify-content: center;
    }
    
    .card3 {
        height: 23%;
        width: 100%;
        border: 2px solid #464646;
        border-radius: 25px;
    }
    
    .card4 {
        display: flex;
        justify-content: center;
        height: 45%;
        width: 100%;
        border: 2px solid #464646;
        border-radius: 25px;
    }

    .titC1 {
        font-size: 50px !important;
        align-items: center;
        margin: 0;
    }

    .bg2I {
        height: 100%;
        width: auto;
    }

    .titC1 .cta {
        width: 95%;
    }

    .card3 .cta {
        width: 90%;
    }

    .cont4 {
        height: 180vh !important;
    }

    .contenido4 {
        flex-direction: column-reverse;
        width: 95%;
        height: 100%;
        justify-content: space-around;
    }

    .conT4 {
        width: 100%;
        height: 48%;
    }

    .notime {
        width: 100%;
        height: 48%;
    }

    .textC4 {
        font-size: 45px;
        height: 30%;
    }

    .formC {
        height: 25vh;
    }

    .forma {
        flex-direction: column;
        height: 90%;
        width: 90%;
    }

    .txtF {
        width: 100%;
        height: auto;
    }

    .inputF {
        width: calc(100% - 20px);
    }

    .forma .cta {
        width: 100%;
    }

    .evo {
        width: 100%;
        height: 10vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .evoT {
        height: 90%;
        width: 95%;
    }
}
